<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectApp"
        tools:targetApi="31">
        <activity
            android:name=".UserAcceptedProjectsActivity"
            android:exported="false" />
        <activity
            android:name=".UserRejectedProjectsActivity"
            android:exported="false" />
        <activity
            android:name=".UserFavoritedProjectsActivity"
            android:exported="false" />
        <activity
            android:name=".UserArchivedProjectsActivity"
            android:exported="false" />
        <activity
            android:name=".AddProjectActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="false" />
        <activity
            android:name=".SuccessEmailVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".EmailVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".UserAppliedProjectsActivity"
            android:exported="false" />
        <activity
            android:name=".UserPostedProjectsActivity"
            android:exported="false" />
        <activity
            android:name=".AuthAppActivity"
            android:exported="false" />
        <activity
            android:name=".EditCVActivity"
            android:exported="false" />
        <activity
            android:name=".EditBioActivity"
            android:exported="false" />
        <activity
            android:name=".EditLastNameActivity"
            android:exported="false" />
        <activity
            android:name=".EditFirstNameActivity"
            android:exported="false" />
        <activity
            android:name=".AddProjectActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".FilterSearchActivity"
            android:exported="false" />
        <activity
            android:name=".ProjectDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>